@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .header ul li{
        background-image:repeating-linear-gradient(to right, rgb(0, 0, 51)0%, rgb(0, 89, 179)32.8%,rgb(0, 89, 179)63.8%,rgb(0, 0, 51)100%);;
        width: 100%;
    }
    .header ul li:hover{
        transform: scale(1, 1);
    }

    .header ul{
        margin-top: 0;
    }

    .header .navbar-brand img{
        height: 74px;
        position: relative;
        bottom:8px;
    }

    .header .navbar{
        background-image:repeating-linear-gradient(to right, rgb(0, 0, 51)0%, rgb(0, 89, 179)32.8%,rgb(0, 89, 179)63.8%,rgb(0, 0, 51)100%);
        padding: 2px 0px;
        z-index: 2;
    }

    .navbar-header{

        height: 86px;
    }

    .form .row {
        padding-left: 7px;
        padding-right: 7px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .form .info1{
        font-size: 27px;
    }

    .form .info2{
        font-size: 21px;
    }



}

@media only screen and (max-width : 380px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}