.container{
    max-width: 980px;
}

.header {
    max-height: 140px;

}

.header .navbar-right span{
   text-align: center;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
}


.header .navbar{
    background-color: #134286;
}

.header .navbar-brand img{
    max-height: 80px;
}

.header .navbar-right a{

   text-align: center;
}

.header .navbar-right a img{
    max-height: 60px;
    
}


.navbar-header{

    height: 92px;
}


/*FORM*/
.sub{
	width: 100%;
}

.info{
	font-size: 30px;
}

.info1{
	font-size: 40px;
}

.info2{
	font-size: 21px;
}

.input-margin{
	margin-top: 30px;
}

.input-margin-submit{
	margin-top: 15px;
}