html{
    min-width: 320px;
}
.background{
    background-image: url(../img/LAND.png);
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    color: #fff;
}

.container,.container-fluid{
    max-width: 980px;
}

.header {
    max-height: 140px;

}
.head-line{
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    width: 100%;
}

.header .navbar-right span{
   text-align: center;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    color:white;
    margin-top: 8px;
    font-size: 15px;
}


.header .navbar{
    background-color: #003366;
    height: 110px;
    padding: 2px 0px;
}

.header .navbar-brand img{
    height: 94px;
    position: relative;
    bottom:8px;
}

.header .navbar-right a{

   text-align: center;
}

.header .navbar-right a img{
    max-height: 46px;

}

.header ul li{
    display: inline-block;
    width: 140px;
}


.navbar-header{
    height: 106px;
}

.navbar-default{
    border: none;
}

.banner{
    height: 400px;
}

.banner-text{

    width: 270px;

}


.banner-logo{
    text-align: center;

}

.banner-logo img{
    margin: auto;
    height: 270px;
    text-align: center;

}

/*FORM*/
.sub{
	width: 100%;
}

.info{
	font-size: 30px;
}

.info1{
	font-size: 40px;
}

.info2{
	font-size: 21px;
}

.input-margin{
	margin-top: 30px;
}

.input-margin-submit{
	margin-top: 15px;
}

/* TEAM */

.team ul li{
	list-style-type: none;
	font-size: 19px;
}

/* PRICE */

.price{
    margin-bottom: 30px;
}

.price .table{
    margin-top: 56px;
}


/* RPOJECT */

.project{
    margin-bottom: 30px;
}

.project .col-md-2{
    margin-bottom: 20px;
}


/* TEAM */
.team{
    margin-bottom: 30px;
}


/* FOOTER */

.footer {
    padding-top: 40px;
    padding-bottom: 35px;
    background-color: #2c2c2c;
}